html,
body {
  color: black;
  background-color: white;
}

main {
  color: black;
  background-color: white;
}

#about {
  max-width: 1080px;
  width: 100%;
  margin: auto;
  padding-top: 100px;
}

#about h1 {
  text-align: center;
}

#header {
  color: white;
  background-color: black;
}

footer {
  color: white;
  background-color: black;
}
